<div class="jumbotron bg-white">
    <h1 class="display-3">About Us</h1>
    <hr class="my-4">
    <p style="font-style: italic; font-size: larger">
        The purpose of this system is to maintain the product details in a
        web page. The users can view the products without signing in. This system
        allows the registered and authenticated users to add, edit, delete the
        products and view the product detail. The user interface of this system is
        implemented using Angular 8. The data about the products is managed in a JSON
        server.
      </p>
    <a class="btn btn-success btn-lg" routerLink="/login" role="button">Sign In</a>
  </div>

