<div class="container" *ngIf="pieChartData3.length>0">
    <div class="row justify-content-center">
        <div class="col-sm-5 rounded py-3 mx-2">
            <h2 class="text-center">Top 3 Products</h2>
      <canvas
        baseChart
        [data]="pieChartData3"
        [labels]="pieChartlabels3"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [legend]="pieChartLegend"
      ></canvas>
    </div>
    <div class="col-sm-5 rounded py-3">
        <h2 class="text-center">Top Products</h2>
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartlabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [legend]="pieChartLegend"
      ></canvas>
    </div>
  </div>
</div>

    